.cart {
  color: white;
  margin-right: 15px;
}

.cart .badge {
  font-size: 0.75rem;
  padding: 0.35em 0.5em;
  transform: translate(-50%, 150%);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
}

.list {
  padding-left: 30px;
  padding-right: 30px;
}

.list h2 {
  margin-top: 1rem;
  font-weight: bold;
}

.card {
  margin-top: 20px;
}

.add-btn {
  width: 70px;
}

.brand {
  padding-left: 20px;
}

.addcard {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 150px;
  text-align: center;
  align-items: center;
  background: #b6b6b6;
  cursor: pointer;
}

.back-btn {
  font-size: 23px;
  margin-right: 20px;
}

.bundle {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cardImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: 150px;
  background: #272727;
  padding: 10px;
}

.chip {
  background: rgb(215, 195, 84);
  width: 45px;
  height: 35px;
  margin-left: 0;
  margin-top: 40px;
}

.cardInfo {
  color: white;
  text-align: justify;
  margin-top: auto;
  font-size: 13px;
}

.select-card {
  background-color: yellow;
  display: block;
  width: 60%;
  border-radius: 2rem;
  border: none;
  padding: 1rem;
  background-color: yellow;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.password-box {
  width: 3rem !important;
}

.card-reg-btn {
  width: 100%;
}

.cart-header {
  height: 4rem;
  background-color: #292929;
}

.cart-header button {
  font-size: 2rem;
  margin: 1rem;
  background: none;
  border: none;
  margin: 0 1rem;
  color: white;
}

.cart-container, .complete-page {
  margin: 1.5rem;
}

.cart-container h1, .complete-page h1 {
  font-weight: bold;
}

.cart-container p {
  margin: 0;
}

.cart-container .items-price, .cart-container .delivery-fee, .total-price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.cart-container span {
  font-size: 1.2rem;
}

.cart-container button, .cartbtn-in-detail {
  display: block;
  width: 100%;
  border-radius: 2rem;
  border: none;
  padding: 1rem;
  background-color: #434343;
  color: white;
  margin: 0 auto;
}

.price-area {
  border-top: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  padding: 1rem 0;
}

.total-price {
  padding: 1rem 0;
}

.cart-item {
  display: flex;
  margin: 2rem 0;
  align-items: center;
}

.cart-item img {
  width: 15rem;
  margin-right: 1rem;
  border-radius: 2rem;
}

.item-content h3 {
  font-weight: bold;
}

.btn-area {
  margin-top: 2rem;
}

.btn-area .up-down {
  color: #b6b6b6;
  font-size: 1.3rem;
}

.btn-area span {
  margin: 0 1rem;
}

.relatedlist {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.relatedlist img {
  width: 30%;
  border-radius: 1.5rem;
}

.detail-page>img {
  width: 100%;
  border-radius: 1.5rem;
}

.datail-area {
  display: flex;
  justify-content: space-between;
}

.complete-page {
  text-align: center;
  padding: 10rem 0;
}

.complete-page button {
  width: 100%;
  margin: 2rem 0;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */