.cart {
  color: white;
  margin-right: 15px;
}

.cart .badge {
  font-size: 0.75rem;
  padding: 0.35em 0.5em;
  transform: translate(-50%, 150%);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
}

.list {

  padding-left: 30px;
  padding-right: 30px;
}

.card {
  margin-top: 20px;
}

.add-btn {
  width: 70px;
}

.brand {
  padding-left: 20px;
}

.addcard {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 150px;
  text-align: center;
  align-items: center;
  background: #b6b6b6;
}

.back-btn {
  font-size: 23px;
  margin-right: 20px;
}

.bundle {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cardImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: 150px;
  background: #272727;
  padding: 10px;
}

.chip {
  background: rgb(215, 195, 84);
  width: 45px;
  height: 35px;
  margin-left: 0;
  margin-top: 40px;
}

.cardInfo {
  color: white;
  text-align: justify;
  margin-top: auto;
  font-size: 13px;
}

.password-box {
  width: 3rem !important;
}

.card-reg-btn {
  width: 100%;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */